body {
  background-image: url("background2.jpg");
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

p {
text-align:center;
color:black;
font-size: 20px;
font-family:"Arial"
}

p {
text-align:center;
color:black;
font-size: 20px;
font-family:"Arial"
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #F0F8FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:  #BDB76B;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #F0F8FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:  #BDB76B;
  color: white;
}


