body {
  background-image: url("background9.jpg");
}

.parentDiv {  
display: flex; 
justify-content: center; 
align-items: center;}

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

h2 {
text-align:center;
color:black;
font-family:"Arial"
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #F0F8FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:  #BDB76B;
  color: white;
}